<launch>
      <!-- Always set GUI to false for AWS RoboMaker Simulation
            Use gui:=true on roslaunch command-line to run with a gui.
      -->
      <arg name="gui" default="true"/>
      <arg name="num_objects" value="5"/>

      <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name" value="$(find dynamic_logistics_warehouse)/worlds/smaller_warehouse_with_light.world"/>
      <arg name="paused" default="false"/>
      <arg name="use_sim_time" default="true"/>
      <arg name="gui" default="$(arg gui)"/>
      <arg name="headless" default="false"/>
      <arg name="debug" default="false"/>
      <arg name="verbose" default="true"/>
      </include>

      <node name="spawn_object1" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-sdf -file $(find dynamic_logistics_warehouse)/models/moving_clutter1/model.sdf -model moving_cube1 -x 2 -y -3 -z 0 -Y 1.5707"/>
      
      <node name="spawn_object2" pkg="gazebo_ros" type="spawn_model" output="screen"
            args="-sdf -file $(find dynamic_logistics_warehouse)/models/moving_clutter2/model.sdf -model moving_cube2 -x 2 -y -7 -z 0 -Y 1.5707"/>
      
      <node name="spawn_object3" pkg="gazebo_ros" type="spawn_model" output="screen"
            args="-sdf -file $(find dynamic_logistics_warehouse)/models/moving_clutter3/model.sdf -model moving_cube3 -x 9 -y 4 -z 0 -Y 0"/>
      
      <node name="spawn_object4" pkg="gazebo_ros" type="spawn_model" output="screen"
            args="-sdf -file $(find dynamic_logistics_warehouse)/models/moving_clutter4/model.sdf -model moving_cube4 -x 24 -y 4 -z 0 -Y 0"/>
 
      <node name="spawn_object5" pkg="gazebo_ros" type="spawn_model" output="screen"
            args="-sdf -file $(find dynamic_logistics_warehouse)/models/moving_clutter5/model.sdf -model moving_cube5 -x 22 -y -6 -z 0 -Y 0"/>
  
      <node name="spawn_object6" pkg="gazebo_ros" type="spawn_model" output="screen"
            args="-sdf -file $(find dynamic_logistics_warehouse)/models/moving_PalletJack1/model.sdf -model moving_cube6 -x 15 -y 8 -z 0 -Y 1.5707"/>
  
      <node name="moving_object_node" pkg="dynamic_logistics_warehouse" type="moving_object"/> 
  
</launch>
